Source: openrtm-aist
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
	       doxygen (>= 1.6.3),
	       python
Standards-Version: 3.8.4
Vcs-Git: git://github.com/jrl-umi3218/openrtm-aist-debian.git
Vcs-browser: http://github.com/jrl-umi3218/openrtm-aist-debian
Section: libs
Homepage: http://www.openrtm.org/OpenRTM-aist/html-en/

Package: libopenrtm-aist0.4.2
Section: libdevel
Architecture: any
Depends: python, ${shlibs:Depends}, ${misc:Depends}
Suggests: libopenrtm-aist-doc
Description: OpenRTM-aist binary package
 OpenRTM-aist is one of the reference implementations of RT-Middleware
 that AIST has been implementing and distributing. It consists of
 RT-Component framework to create RT-Components, RT-Middleware that
 manages the lifecycle of RT-Component, moreover RtcTemplate to
 generate skeleton codes of the components and GUI tools to operate
 and connect RT-Components. Currently, AIST provides reference
 implementations for C++, Python and Java, and develops other versions
 of implementing other languages. There are compatibility middleware
 of OpenRTM for Java and .NET as reference implementation of
 Version 0.2.0 compatibility.

Package: libopenrtm-aist-dev
Section: libdevel
Architecture: any
Depends: libopenrtm-aist0.4.2 (= ${binary:Version}), ${misc:Depends}
Suggests: libopenrtm-aist-doc
Description: OpenRTM-aist development package
 OpenRTM-aist is one of the reference implementations of RT-Middleware
 that AIST has been implementing and distributing. It consists of
 RT-Component framework to create RT-Components, RT-Middleware that
 manages the lifecycle of RT-Component, moreover RtcTemplate to
 generate skeleton codes of the components and GUI tools to operate
 and connect RT-Components. Currently, AIST provides reference
 implementations for C++, Python and Java, and develops other versions
 of implementing other languages. There are compatibility middleware
 of OpenRTM for Java and .NET as reference implementation of
 Version 0.2.0 compatibility.
 .
 This package contains headers and other development related files.

Package: libopenrtm-aist-doc
Section: doc
Architecture: any
Depends: ${misc:Depends}
Description: OpenRTM-aist documentation package
 OpenRTM-aist is one of the reference implementations of RT-Middleware
 that AIST has been implementing and distributing. It consists of
 RT-Component framework to create RT-Components, RT-Middleware that
 manages the lifecycle of RT-Component, moreover RtcTemplate to
 generate skeleton codes of the components and GUI tools to operate
 and connect RT-Components. Currently, AIST provides reference
 implementations for C++, Python and Java, and develops other versions
 of implementing other languages. There are compatibility middleware
 of OpenRTM for Java and .NET as reference implementation of
 Version 0.2.0 compatibility.
 .
 This package contains the software documentation.
